.env*
!.env.example

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

[Oo]utput/
[Pp]ublish/
bin/
obj/
build/
out/
dist/

.DS_Store
Thumbs.db
desktop.ini

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
